:root {
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --primery-bgr-color: #2f303a;
  --title-color: #212121;
  --icon-color: #afb1b8;
  --projects-gap: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  font-size: 14px;
}

/* Global style */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

.button {
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  border: none;
}

.title {
  color: var(--title-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  color: var(--title-color);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* Common style */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Logo */
.logo-link {
  margin-right: 93px;

  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--accent-color);
}

/* Site nav */

.header {
  border-bottom: 1px solid #ececec;
}

.container-header {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover,
.navigation-link:focus,
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}
.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  color: inherit;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link:hover,
.contacts-link:focus {
  fill: var(--accent-color);
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}
/* index.html */

/* Hero section */
.hero-section {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--primery-bgr-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
}

.main-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  color: var(--second-accent-color);
  text-transform: uppercase;
  text-align: center;
}

.button-order {
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--second-accent-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88em;
  letter-spacing: 0.06em;
}

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;

  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--second-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--second-accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover .icon-close,
.modal-button-close:focus .icon-close {
  fill: var(--accent-color);
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  color: var(--title-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 30px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .form-input {
  outline: none;
  border: 1px solid var(--accent-color);
}
.form-field:focus-within .form-icon {
  fill: var(--accent-color);
}

/* .form-field:focus-within .form-icon-box {
  outline: none;
  border: 2px solid var(--accent-color);
} */

.form-icon {
  position: absolute;
  top: 30px;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input.comment {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 120px;
}

.form-input.comment::placeholder {
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field {
  margin-top: 10px;
}

.form-field:first-of-type {
  margin-top: 12px;
}
.form-field:last-of-type {
  margin-top: 20px;
}

.label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.01em;
}
.form-field.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-icon-box {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;

  background-color: var(--second-accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:checked + .form-icon-box {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}

.checkbox-text {
  margin-left: 7px;
}

.policy-link {
  color: var(--accent-color);
  text-decoration: underline;
}
.form-button-send {
  margin-top: 30px;
  padding-right: 55px;
  padding-left: 55px;
}

/* Features section */
.features {
  display: flex;
}

.features-item {
  margin-right: 30px;
}
.features-item:last-child {
  margin-right: 0;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14em;
  font-size: 14px;
}

.features-description {
  line-height: 1.71em;
}

/* Work section */

.work-section {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;
}

.works {
  display: flex;
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

.work-text {
  font-weight: 700;
  line-height: 1.14em;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-accent-color);
}

.work-text-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-thumb {
  position: relative;
}

/* Team section */
.team-section {
  background-color: #f5f4fa;
}
.team {
  display: flex;
}

.team-box {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  background-color: var(--second-accent-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9em;
  margin-bottom: 10px;
}

.team-item {
  margin-right: 30px;

  font-size: 16px;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:last-child {
  margin-right: 0;
}

.team-description {
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--second-accent-color);
}

.social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

/* Clients section */

.clients {
  display: flex;
  align-items: center;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 100%;
  margin-right: 30px;
}

.clients-item:last-child {
  margin-right: 0;
}

.client-link {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.client-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

/* portfolio.html */

/* Projects */

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter > .filter-item + .filter-item {
  margin-left: 8px;
}

.filter-button {
  padding: 6px 22px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63em;
  background-color: F5F4FA;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: calc(-1 * var(--projects-gap));
  margin-bottom: calc(-1 * var(--projects-gap));
}

.project-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
}

.project-item {
  flex-basis: calc(100% / 3 - var(--projects-gap));
  margin-left: var(--projects-gap);
  margin-bottom: var(--projects-gap);
  border: 1px solid #eeeeee;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}
.project-description {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88em;
}

.project-link {
  display: block;
  color: inherit;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-text {
  background-color: rgba(33, 150, 243, 0.9);
}

.project-text {
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56em;
  color: var(--second-accent-color);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-card-text {
  position: absolute;
  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-card-text,
.project-link:focus .project-card-text {
  opacity: 1;
  transform: translateY(-100%);
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primery-bgr-color);
  line-height: 1.71em;
}

.footer .lighten {
  margin-right: 0;
  color: var(--second-accent-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.adress {
  margin-top: 20px;
  color: var(--second-accent-color);
  font-style: normal;
}

.adress-link {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addredd-item {
  font-size: 14px;
  margin-bottom: 9px;
}

.addredd-item + .addredd-item {
  margin-bottom: 6px;
}

.addredd-item:last-child {
  margin-bottom: 0px;
}

.footer-social-box {
  margin-left: 70px;
}

.footer-title {
  font-weight: 700;
  line-height: 1.14em;
  text-transform: uppercase;
  color: var(--second-accent-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
}

.footer-social-item {
  margin-right: 10px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--second-accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 93px;
  width: 570px;
}

.footer-title.form {
  display: block;
  margin-bottom: 20px;
}

.footer-input {
  height: 50px;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  color: rgba(255, 255, 255, 0.6);
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25em;
  color: rgba(255, 255, 255, 0.6);
}

.button-order.form {
  display: flex;
  align-items: center;
  padding-left: 29px;
  padding-right: 28px;
}

.footer-form-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}
